.Login,.Signup{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    height: auto;
    width: 300px;
    border: 1px solid black;
    text-align: center;
}

form input{
    padding: 10px;
    margin: 10px;
    outline: none;
    border: transparent;
    border-bottom: 1px solid black;
    text-align: center;
}

form button{
    padding: 10px;
    width: 100px;
    background: green;
    color: white;
    border: 1px solid transparent;
}